
body{
    font-size: 1.1rem !important;
    color: #494949 !important;
}
.table{
    color: black;
}
.table td .row{
    flex-wrap: nowrap !important;
    --bs-gutter-x: 0 !important;
}
.bg-success{
    background-color: #00a80ede!important;
    font-size: 1rem !important;
    margin-bottom: 2px;
}
[data-simplebar]{
    margin-top: 10px !important;
}
.side-nav .side-nav-link{
    font-size: 1.2rem !important;
}
.modal-dialog{
    max-width: 900px !important;
}

.modal-dialog form .modal-footer{
    /*display: block;*/
    text-align: center;
}

.modal-dialog form .form-group{
    margin-bottom: 20px;
}

.modal-dialog form .btn-button{
    width: 100px;
    text-align: center;
}

.logo.logo-light{
    border-bottom: 1px solid whitesmoke !important;
}

.card-body .float-start label{
    font-size: 18px;
}

.card-body dl dt{
    color: black !important;
}

.mb-3 label{
    margin-bottom: 5px !important;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
    margin-left: 0 !important;
}

.mb-3 .col-md-2{
    display: inline-block !important;
}

.text-warning-set{
    width: 400px !important;
    margin: auto;
}

.text-warning-set h3{
    margin: auto;
    color: #f1e840;
}
.text-warning-set p{
    color: red;
}
.text-warning-set button{
    width: 25%;
    font-size: 16px;
}

.container .flex-class{
    display: flex;
    width: 150px;
}
.set-search form{
    display: flex;
    justify-content: flex-end;
}
.set-search form input{
    margin: 0 5px !important;
}

.checkbox.rows.cate-children{
    margin-left: 20px !important;
}

.checkbox.rows.cate-children label{
    display: contents;
}

.alert-danger .is-centered .is-danger ul{
    margin-bottom: 0 !important;
}
.bootstrap-select .dropdown-menu{
    min-width: 97% !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: 100% !important;
}

.form-control{
    color: #5f5b5b !important;
}

.swal2-container.swal2-center>.swal2-popup{
    grid-row: 1 !important;
    grid-row-start: 1 !important;
    grid-row-end: auto !important;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active{
    color: #5f5b5b !important;
}

.dropdown-item{
    color: #353535 !important;
}

.mb-3 .scrollable-set{
    max-height: 200px !important;
}

.modal-dialog .set-modal{
    padding: 2.5rem !important;
}
